<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[
            d="%d{"YYYY-MM-dd'T'HH:mm:ss.SSSX"}" t="%thread" l="%level" c="%logger" %replace(%msg){'(^(?!\w+=[^\s]+).*)','msg="$1"'}%n
            ]]></pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
